# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyc
*~

# Virtual environments
venv/
.env/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# OneDrive cache
~$*